@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Fira+Code:wght@400;500&family=Press+Start+2P&display=swap');

:root {
  --primary: #923331;
  --primary-light: #a64744;
  --primary-lighter: #b95b57;
  --primary-dark: #6f2624;
  --primary-darker: #4c1a19;
  --text-base: #1e1e1e;
  --text-muted: #4b4b4b;
  --base: #f5f5f5;
  --base-surface: #e5e5e5;
  --accent: #d96b5b;
  --accent-light: #e08a7e;
  --accent-dark: #c04c3a;
  --container-shadow: rgb(111, 38, 36, 0.2);
  --navbar-bg: rgba(245, 245, 245, 0.8);
  --scrolled-bg: rgba(245, 245, 245, 0.95);
}

.dark {
  --primary: #d96b5b;
  --primary-light: #e08a7e;
  --primary-lighter: #e7a9a1;
  --primary-dark: #c04c3a;
  --primary-darker: #a73d2d;
  --text-base: #f5f5f5;
  --text-muted: #cccccc;
  --base: #1e1e1e;
  --base-surface: #2b2b2b;
  --accent: #923331;
  --accent-light: #a64744;
  --accent-dark: #6f2624;
  --container-shadow: rgb(192, 76, 58, 0.4);
  --navbar-bg: rgba(30, 30, 30, 0.8);
  --scrolled-bg: rgba(30, 30, 30, 0.95);
}

body {
  background-color: var(--base);
  color: var(--text-base);
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.3s ease, color 0.3s ease;
}

a {
  color: var(--accent);
  transition: color 200ms;
}

a:hover {
  color: var(--accent-light);
}

::selection {
  background-color: var(--accent);
  color: var(--text-base);
}

.text-shadow {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.text-shadow-dark {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.cursor-terminal::after {
  color: var(--accent);
  content: "▋";
  animation: blink 1s step-end infinite;
  margin-left: var(--spacing-1);
}

.btn-terminal {
  color: var(--accent);
  font-family: 'Fira Code', monospace;
  position: relative;
  border: 2px solid var(--accent);
}

.btn-terminal::before {
  content: '">"';
  margin-right: var(--spacing-2);
}

.btn-terminal::after {
  background: linear-gradient(90deg, rgba(217, 107, 91, 0.1) 0%, rgba(217, 107, 91, 0) 100%);
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

::-webkit-scrollbar {
  width: var(--spacing-2);
  height: var(--spacing-2);
}

::-webkit-scrollbar-track {
  background-color: rgba(166, 71, 68, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-light);
  border-radius: var(--radius-md);
}

.dark ::-webkit-scrollbar-track {
  background-color: rgba(76, 26, 25, 0.5);
}

.dark ::-webkit-scrollbar-thumb {
  background-color: var(--accent);
}