.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .dark {
    color-scheme: dark;
  }
  
  .main {
    flex-grow: 1;
    background-color: #fff;
  }
  
  .dark .main {
    background-color: #1e1e1e;
    color: #fff;
  }
  
  .customCursor {
    cursor: none;
  }
  
  .cursor {
    background-color: #d96b5b;
    position: fixed;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    pointer-events: none;
    z-index: 50;
    transition: transform 100ms ease-out;
    transform: translate(-50%, -50%);
  }